/* General */

*{
  box-sizing: border-box;
}

#game{
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #000;
  position: relative;
  background-image: url("grass.jpg");
  display: none;
  overflow: hidden;
}

/* Objects */

.rock, .tree, .skeleton, #warrior, #sword, #priest, .fire, .burnedtree, .tomb {
  position: absolute;
  width: 50px;
  height: 50px;
}

.skeleton, #sword, #priest, .fire {
  z-index: 1;
}

#warrior{
  left: 50px;
  top: 50px;
  z-index: 2;
}

#dragon{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
}

/* Terrain */

#fog{
  position: absolute;
  width: 800px;
  height: 450px;
}

#stars{
  position: absolute;
  width: 300px;
  height: 300px;
}

.cursed{
  position: absolute;
  width: 250px;
  height: 250px;
}

/* Pop-ups */

#popup{
  position: absolute;
  width: 800px;
  height: 640px;
  z-index: 100;
  left: 100;
  top: 100;
  background-image: url(scroll.png);
  background-size: 800px 640px;
  background-repeat: no-repeat;
  display: none;
}

#priestMeet{
  display: none;
  overflow: visible;
}

#priestTalk{
  position: absolute;
  width: 500px;
  height: 800px;
  z-index: 100;
  left: 0;
  top: 150;
  background-image: url(talk.png);
  background-size: 500px 640px;
  background-repeat: no-repeat;
}

#priestMeet img{
  position: absolute;
  width: 800px;
  height: 900px;
  z-index: 90;
  left: 400;
  top: 30;
}

#swordMessage{
  position: absolute;
  width: 500px;
  height: 800px;
  z-index: 100;
  left: 0;
  top: 150;
  background-image: url(talk.png);
  background-size: 500px 640px;
  background-repeat: no-repeat;
  display: none;
}

/* Fonts */

#swordMessage p {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 1.8em;
  margin: 120px 70px;
  text-align: justify;
}

#popup h1 {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 2.5em;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 160px;
}

#popup p {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 1.8em;
  margin: 0px 80px;
  text-align: justify;
}

#priestTalk p {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 1.8em;
  margin: 120px 70px;
  text-align: justify;
}
